.city-container{
    margin: 10px 20px;
    border: 1px black solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    .btn{
        display: flex;
        align-items: center;
        svg{
            width: 10px;
            height: 10px;
            margin-left: 10px;
            margin-top: 2px;
            transition: 0.5s transform ease;
        }

        &:hover svg{
           transform: translateX(10px);
        }
    }

}
.content-container{
    .content-container__back-block{
        display: flex;
        justify-content: space-between;
        margin: 10px 20px;
        .btn{
            display: flex;
            align-items: center;
            padding-left: 10px;
            svg{
                width: 10px;
                height: 10px;
                margin-right: 10px;
                margin-top: 2px;
                transition: 0.5s transform ease;
            }
    
            &:hover svg{
               transform: translateX(-10px);
            }
        }
    }
}
.city-container__like-block{
    
    &.active{
        svg{
            width: 20px;
            fill:red;
        }
    }
}

.found-city-container{
 
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    background-color: #fff;
    padding: 12px 12px 16px;
    .temperature-container{
        display: flex;
        align-items: center;
        .temperature{
            font-size: 84px;
            letter-spacing: -.7px;
            font-weight: 500;
            line-height: 1.07;
        }
       img{
            width: 90px;
            height: 90px;
        }
        
    }
    .title{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .city-name{
            font-size: 2rem;
            font-weight: 600;
        }
    }
    .main{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .temperature{

        }
        .weather-conditions{
            text-align: left;
        }
    }
    .buttons{
        display: flex;
        justify-content: space-around;
        padding: 15px 5px;
    }
    .likebtn-container{
      display: flex;
      align-items: center;
        cursor: pointer;
        svg{
            width: 20px;
            height: 20px;
            margin-left: 10px;
        }
        &.liked{
            svg{
                fill: red;
            }
        }
    }
}